.main{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto
    
}
.search {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto
    
}
